<footer class="site-footer">
    <div class="container">
        {{#if @site.secondary_navigation}}
            <nav class="footer-nav">
                {{navigation type="secondary"}}
            </nav>
        {{/if}}
        <div class="copyright">
            Developed & Owned by <a href="https://www.instagram.com/sunny07_____/" target="_blank">Snehith Kumar</a>
        </div>
    </div>
</footer>

{{> pswp}}